[Unit]
Description=Anonymchat Telegram Bot
After=network.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/opt/tgbot
ExecStart=/opt/tgbot/venv/bin/python bot.py
Restart=always

[Install]
WantedBy=multi-user.target
