[Unit]
Description=Anonem Chat Bot
After=network.target

[Service]
User=root
Group=tgbot
Type=simple
WorkingDirectory=/root/snap/work_directory/kirilichikbotgavna/tgbot_template
ExecStart=/root/snap/work_directory/kirilichikbotgavna/tgbot_template/venv/bin/python bot.py
Restart=always

[Install]
WantedBy=multi-user.target
